---
layout: default
title: Category Landing
slug: category-landing
path: ../
---

{% include medium-hero.html %}

<div class="navigation-subcategory">
	  {% include navigation-subcategory.html %}
</div>

<div class="row">
	<div class="small-12 medium-8 columns">
		{% include page-content.html %}
	</div>
</div>

{% include subcategory-headline.html %}

<div class="three-forth-hero">
	<div class="water-bg" style="background-image:url(../img/innovative-droplet-full/water-bg.png)">
		{% include three-forth-hero.html %}
	</div>
</div>

<div class="four-container">
	{% include four-featured-products.html %}
</div>

{% include subcategory-headline.html %}


<div class="one-forth-hero">
	{% include one-forth-hero.html %}
</div>

{% include two-featured-products.html %}