.blue-banner{
	position:relative;
	background:rgba(10, 80, 239, 0.5);
	max-height:none;
	overflow:visible;
	margin-bottom:0px;

	.row{
		position:relative;
	}
	.water-drop{
		position:absolute;
		top:-180px;
		left:0px;
		height:auto;
		width:450px;
		z-index:-1;
	}

	.banner-title{
		margin-top:45px;
		color:#FFF;
		font-size:34px;
		text-transform:uppercase;
		font-weight:800;
		padding:0px 15px;
		margin-bottom:20px;
	}

	.banner-left{
		text-align:right;
		padding-right:0px;

		img{
			margin-top:24px;
		}
	}

	.banner-content{
		color:#FFF;
		font-size:33px;
		padding:12px 14px;
		line-height:48px;
		margin-bottom:44px;

		span{
			font-weight:800;
		}
	}
	.content-author{
		color:#FFF;
		font-size:37px;
		padding:3px 32px 3px 12px;
		line-height:47px;
		margin-bottom:44px;
	}
	.button.transparent{
		border:1px solid #BDBCC1;
		max-width:none;
		color:#000;
		margin:20px 0px;
		padding:23px 10px;
	}
}



@media #{$small} {

	.blue-banner{
		max-height:222px;
		margin-bottom:235px;

		.row{
		}
		.water-drop{
			top:-158px;
			left:-59px;
		}

		.banner-title{
			margin-top:27px;
			color:#FFF;
			font-size:23px;
			text-transform:uppercase;
			margin-bottom:0px;
			font-weight:500;
			padding:0;
		}

		.banner-left{
			padding-right:35px;

			img{
				margin-top:-13px;
			}
		}

		.banner-content{
			font-size:21px;
			line-height:36px;

			span{
			}
		}
		.button.transparent{
		}
	}

}

