.blue-dot-left{
	position:relative;
	margin-bottom:55px;

	.callout-image{
		background-size:contain;
		background-repeat:no-repeat;
		height:215px;
		background-position:center;

		.dot-callout{

			img{
				opacity:0.8;
			}
			.callout-text{
				margin:15px 0px 0px -51px;
				font-size:19px;

				span{
					display:block;
					font-size:23px;
					padding-left:26px;
					margin-top:4px;
				}
					
				img{
					margin-right:4px;
				}
			}
		}
	}

	.colshell{
		padding-left:0px;
		max-width:none;

		.callout-title{
			font-size:35px;
			color:#000;
			font-weight:800;
			margin-top:11px;
		}
		.callout-description{
			font-size:18px;
			margin:11px 0px 20px;
			line-height:22px;
		}
		.see-all{

			a{
				color:#006896;
				font-size:29px;
			}
		}
	}
}


@media #{$small} {

	.blue-dot-left{
		margin-bottom:180px;

		.callout-image{
			background-position:72px 20px;
			height:360px;

			.dot-callout{

				img{
				}
				.callout-text{
					margin:18px 0px 0px -42px;
					font-size:17px;

					span{
					}
						
					img{
					}
				}
			}
		}

		.colshell{
			padding-left:90px;
			max-width:475px;

			.callout-title{
				font-size:44px;
				font-weight:800;
				margin-top:5px;
				line-height:49px;
			}
			.callout-description{
				font-size:18px;
				margin:33px 0px;
				line-height:26px;
			}
			.see-all{

				a{
					font-size:20px;
				}
			}
		}
	}

}