.blue-dot-left{
	position:relative;
	margin-bottom:55px;

	.dot-callout{
		.callout-text{
			margin-bottom:-51px;

			span{
				padding-left:26px;
			}
				
			img{
				margin-right:4px;
			}
		}
	}
}


@media #{$small} {

	.blue-dot-left{
		margin-bottom:192px;

		.callout-image{
			background-position:72px 20px;
			height:360px;

			.dot-callout{
				.callout-text{
					margin:18px 0px 0px -42px;
				}
			}
		}

		.colshell{
			padding-left:90px;
			max-width:475px;

			.see-all{
				a{
					font-size:17px;
				}
			}
		}
	}
}