.blue-banner{
	position:relative;
	background:rgba(7, 100, 183, 0.73);
	max-height:none;
	overflow:visible;
	margin-bottom:0px;

	.row{
		position:relative;
	}
	.water-drop{
		position:absolute;
		top:-123px;
		left:0px;
		height:auto;
		width:350px;
		z-index:-1;
	}

	.banner-title{
		margin-top:25px;
		color:#FFF;
		font-size:22px;
		text-transform:uppercase;
		font-weight:800;
		padding:0px 15px;
		margin-bottom:10px;
	}

	.banner-left{
		text-align:right;
		padding-right:0px;

		img{
			margin:24px auto;
			max-width:300px;
			width:100%;
			display:block;
		}
	}

	.banner-content{
		color:#FFF;
		font-size:21px;
		padding:5px 15px 12px 0px;
		line-height:28px;
		margin-bottom:10px;

		span{
			font-weight:800;
		}
	}
	.content-author{
		color:#FFF;
		font-size:21px;
		padding:3px 15px 3px 0px;
		line-height:28px;
		margin-bottom:30px;
	}
	.button.transparent{
		border:1px solid #BDBCC1;
		max-width:none;
		color:#000;
		margin:20px 0px;
		padding:23px 10px;
		background-color: transparent;
	}
}



@media #{$small} {

	.blue-banner{
		max-height:222px;
		margin-bottom:235px;

		.row{
		}
		.water-drop{
			top:-158px;
			left:-38px;
			width:450px;
		}

		.banner-title{
			margin-top:27px;
			color:#FFF;
			font-size:24px;
			text-transform:uppercase;
			margin-bottom:0px;
			font-weight:500;
			padding:0;
		}

		.banner-left{
			padding-right:35px;

			img{
				margin-top:-13px;
				max-width:370px;
				float:right;
			}
		}

		.banner-content{
			font-size:20px;
			line-height:36px;
			padding:13px 41px;
			margin-bottom:55px;

			span{
			}
		}


		.button.transparent{
			width:100%;
			max-width:260px;
			background:transparent;
			border:1px solid #000;
			border-radius:3px;
			padding:22px 15px;
			font-size:18px;
			letter-spacing:1px;
			font-weight:100;
			margin:18px 14px 17px 0px;

			&:hover{
				color:rgba(0, 91, 19, 0.7);
				background:#FFF;
			}
		}
	}

}

