.blue-dot-left{
	

	.callout-image{
		background-size:contain;
		background-repeat:no-repeat;
		height:360px;

		.dot-callout{

			img{
				opacity:0.7;
			}
			.callout-text{

				span{

					img{

					}
				}
			}
		}
	}

	.callout-title{

	}
	.callout-description{

	}
	.see-all{

		a{

		}
	}
}