.blue-dot-right{
	position:relative;

	.dot-callout{
		.callout-text{
			span{
				line-height:27px;
			}
				
			img{
				display:block;
				margin:8px 0px 0px 30px;
				opacity:1;
			}
		}
	}

	.colshell{
		.see-all{
				font-size:20px;
			a{
				margin-top:7px;
				font-size:19px;
			}
		}
	}
}

@media #{$small} {

	.blue-dot-right{
		.callout-image{
			background-position:15px 0px;
			height:410px;

			.dot-callout{
				.callout-text{
					margin:22px 0px 0px 0px;
				}
			}
		}

		.colshell{
			padding-left:90px;
		}
	}

}

@media #{$medium} {

	.blue-dot-right{
		.callout-image{
			background-position:105px 0px;
		}
	}
}