.button.transparent{
	border:1px solid #BDBCC1;
	max-width:none;
	color:#000;
	margin:20px 0px;
	padding:23px 10px;
	background-color: transparent;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	font-weight:100;
	&:hover{
		background-color:#ccc;
		color:#000;
	}
}