.contact-wrapper{
	padding-bottom:130px;
	.thank-you-wrapper{
		margin:0 0 20px;
		h2{
			margin:10px 0 15px;
			color:#212121;
			font-size:35px;
		}
		ul {
			clear:both;
			overflow:hidden;
			margin:0;
			li{
				margin:0 0 40px;
				a{
					color:#006699;
					font-size:18px;
				}
			}
		}
	}
	.manual-link-wrapper{
		margin:0 0 60px;
		h2{
			margin:0 0 15px;
			color:#212121;
			font-size:35px;
		}
		a{
			color:#006699;
			font-size:18px;
		}
	}
}
@media #{$small}{
	.contact-wrapper{
		.thank-you-wrapper{
			li{
				&:nth-child(odd){
					float:left;
					clear:left;
				}
				&:nth-child(even){
					float:right;
				}
			}
		}		
	}
}