.feature-hero-section{
	position:relative;
	padding-bottom:5px;
	margin-bottom:15px;
	
	.feature-hero-background-image{
		position:relative;
		z-index:1;
		display:block;
		top:0px;
		opacity:1;
		width:100%;
		margin:0 auto;
		background-size:cover;
		background-repeat:no-repeat;
	}

	.half-background-image{
		position:relative;
		z-index:1;
		display:block;
		top:0px;
		left:0;
		background:rgba(0, 91, 19, 0.7);
		color:#FFF;
		padding:36px 28px;

		.colshell{
			width:auto;
			float:none;

			.hero-title{
				font-size:26px;
				font-weight:800;
			}
			.hero-headline{
				font-size:32px;
				font-weight:800;
				margin-top:13px;
				text-transform:uppercase;
			}

			.hero-content{
				margin:17px 0px 15px;
				font-size:17px;
				line-height:22px;
			}
		}


		.button.transparent{
			width:100%;
			max-width:155px;
			background:transparent;
			border:1px solid #FFF;
			border-radius:3px;
			padding:12px 15px;
			font-size:16px;
			letter-spacing:1px;
			font-weight:100;
			margin-right:14px;
			margin:0px 14px 17px 0px;

			&:hover{
				color:rgba(0, 91, 19, 0.7);
				background:#FFF;
			}
		}
	}
}

 
@media #{$small} {

	.feature-hero-section{
		padding-bottom:0px;
		
		.feature-hero-background-image{
		}

		.half-background-image{
			padding:44px 50px;
			width:50%;

			.colshell{
				float:right;
				max-width:550px;

				.hero-title{
					font-size:34px;
					font-weight:500;
				}
				.hero-headline{
					font-size:48px;
					margin-top:10px;
				}

				.hero-content{
					font-size:17px;
					line-height:23px;
					margin:20px 0px 33px;
				}
			}
		}
	}

}
