.feature-hero-section{
	position:relative;
	padding-bottom:5px;
	margin-bottom:15px;
	
	.feature-hero-background-image{
		position:relative;
		z-index:1;
		display:block;
		top:0px;
		opacity:1;
		width:100%;
		margin:0 auto;
		background-size:cover;
		background-repeat:no-repeat;
	}

	.half-background-image{
		position:relative;
		z-index:1;
		display:block;
		top:0px;
		left:0;
		min-height:430px;
		background:rgba(0, 91, 19, 0.7);
		color:#FFF;
		padding:63px 50px;

		.colshell{
			width:auto;
			float:none;

			.hero-title{
				font-size:48px;
				font-weight:800;
			}
			.hero-headline{
				font-size:50px;
				font-weight:800;
				margin-top:13px;
				text-transform:uppercase;
			}

			.hero-content{
				margin:30px 0px 15px;
				font-size:30px;
				line-height:37px;
			}
		}
	}
}

 
@media #{$small} {

	.feature-hero-section{
		padding-bottom:0px;
		
		.feature-hero-background-image{
		}

		.half-background-image{
			padding:31px 40px;
			width:50%;

			.colshell{
				float:right;
				max-width:550px;

				.hero-title{
					font-size:38px;
					font-weight:500;
				}
				.hero-headline{
					font-size:43px;
					margin-top:10px;
				}

				.hero-content{
					font-size:19px;
					line-height:24px;
					margin:20px 0px 33px;
				}
			}
		}
	}

}
