.find-store-container {
	margin-bottom:30px;
	margin-top:5px;
	
	.top-text-wrapper{
		margin-bottom:30px;
	}
	.top-text{
		color:#3a393a;
		font-size:22px;
		text-transform:uppercase;
		font-weight:500;
		display:inline-block;
		line-height:36px;
		height:36px;
		vertical-align:middle;
		margin-right:15px;
	}
	.bottom-text{
		font-size:16px;
		color:#000;

	}
	.button {
		font-weight: 100;
		border:1px solid $brand-blue;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
		color:#fff;
		font-size:18px;
		background-color:$brand-blue;
		line-height:24px;
		margin-bottom:20px;
		padding:18px;
		letter-spacing: 2px;
		.fa {
			color:#fff;
			font-size:24px;
			margin-right:25px;
			&:before{
				vertical-align: middle;
			}
		}
	}
}
@media #{$small}{
	.find-store-container{
		&.full-width{
			background-color:$brand-blue;
			padding:35px 0 40px;
			margin:0;
			.top-text-wrapper{
				margin:18px 0 0;
				.top-text {
					color: #fff;
				}
			}
			.button {
				background-color:transparent;
				border:1px solid #fff;
				margin:0;
			}
		}
	}
}