.site-footer{
	background:$header-footer-bg-color;
	
	.customer-support{

		.support-title{
			font-size:44px;
			font-weight:800;
			margin-top:30px;
			margin-bottom:30px;
			color:#FFF;
		}

		ul{
			list-style:none;
			padding-left:0;

			li{
				margin:9px 0px;

				a{
					color:#99989D;
					font-size:18px;
				}
			}
		}
	}

	.mailing-list{

		.mailing-title{
			font-size:44px;
			font-weight:500;
			margin-top:15px;
			margin-bottom:10px;
			color:#FFF;
		}
		.mailing-tagline{
			color:#FFF;
			font-size:18px;
			margin-bottom:20px;
		}
		i{
			position:absolute;
			font-size:17px;
			top:12px;
			left:15px;
		}
		input{
			padding-left:51px;
			font-size:17px;
			border:0;
			border-radius:5px 0px 0px 5px;
			height:42px;
			color:#FFF;

			&[type="text"]{
				box-shadow:none;
				background-color: #1c1c1c;
			}
		}
		a{
			font-size:19px;
			background:#40A6D7;
			border:0;
			line-height:42px;
		}
	}

	.social-links{
		margin-top:17px;
		margin-left:10px;

		ul{
			list-style:none;
			padding-left:0;

			li{
				display:inline-block;
				margin-right:25px;

				a{
					font-size:28px;

					i{
						color:#FFF;
					}
				}
			}
		}
	}

	.footer-links{
		margin-top:10px;
		
		ul{
			list-style:none;
			padding-left:0;

			span{
				color:#99989D;
				display:inline-block;
				margin:0px 7px;
				font-size:17px;
			}

			li{
				color:#99989D;
				display:inline-block;
				font-size:18px;

				a{
					color:#99989D;
				}
			}
		}
	}
}



@media #{$small} {
	.site-footer{
		.customer-support{
			.support-title{
				font-size:25px;
				margin-top:45px;
				margin-bottom:12px;
			}
			ul{

				li{
					margin:0;

					a{
						font-size:14px;
					}
				}
			}
		}

		.mailing-list{

			.mailing-title{
				font-size:20px;
				margin-top:51px;
				margin-bottom:8px;
			}
			.mailing-tagline{
				font-size:15px;
				margin-bottom:15px;
			}
			i{
				font-size:18px;
				top:11px;
				left:11px;
			}
			input{
				padding-left:43px;
				font-size:18px;
				height:41px;
				color:#FFF;
			}
			a{
				font-size:18px;
				border:0;
			}
		}

		.social-links{
			margin-top:0;
			margin-left:0;

			ul{

				li{
					margin-right:18px;

					a{
						font-size:27px;
					}
				}
			}
		}

		.footer-links{
			ul{

				span{
					margin:0px 6px;
				}

				li{
					font-size:12px;
				}
			}
		}
	}
}