html{
	left:0;
	transition:left 2s;
	position:relative;
}

html.mobile-menu{
	left:80%;
}


.top-section{
	position:absolute;
	z-index:3;
	width:80%;
	max-width:640px;
	left:-80%;
}

.mobile-close{
	position:absolute;
	left:0;
	height:50px;
	z-index:2;
	cursor:pointer;

	&.indexing{
		z-index:4;
	}
}

.mobile-open{
	position:absolute;
	z-index:3;
	cursor:pointer;
}

.mobile-header{
	background:#393939;
	min-height:130px;
}

.fa{
	color:$icon-color;
}

.site-title{
	img{
		width:100%;
		max-width:244px;
	}
}

.tag-line{
	display:inline-block;
	color:$tag-line-color;
	text-transform:uppercase;
	font-weight:bold;
	font-size:24px;
	margin-left:20px;
}
.top-header{
	position:relative;
	font-family:$primary-font;
	background:#1C1C1C;
	color:$icon-color;
	padding-bottom:32px;

	.colwrap{
		padding:29px 10px;
		border-bottom:1px solid #FFF;
	}

	form{
		display:inline-block;
		max-width:none;
		width:100%;
		height:50px;
		position:relative;
		margin-top:35px;

		i{
			position:absolute;
			font-size:35px;
			top:14px;
			left:28px;
		}

		input{
			border:none;
			padding-left:115px;
			font-size:30px
		}
	}
	.site-title{
		img{
			width:auto;
			max-width:none;
		}
	}

}

























@media #{$small} {

	.top-section{
		position:relative;
		z-index:3;
		width:100%;
		max-width:none;
		left:0;
	}

	.fa{
		color:$icon-color;
	}

	.top-header{
		position:relative;
		font-family:$primary-font;
		background:$header-footer-bg-color;
		color:$icon-color;
		padding-bottom:0;

		.colwrap{
			padding:15px 10px;
			border-bottom:0;
		}
	}

	.tag-line{
		display:inline-block;
		color:$tag-line-color;
		text-transform:uppercase;
		font-weight:bold;
		font-size:19px;
	}
	.top-header{


		span{
			margin-top:40px;
		}

		i{
			font-size:20px;
		}

		form{
			display:inline-block;
			max-width:310px;
			width:100%;
			height:50px;
			margin-top:30px;

			i{
				position:absolute;
				font-size:20px;
				top:8px;
				left:18px;
			}

			input{
				border:none;
				padding-left:40px;
				font-size:17px;
				margin:0;
			}
		}

	}

	.mobile-header{
		min-height:0;
	}

}