.home-background-image{
	position:absolute;
	z-index:4;
	display:none;
	top:7px;
	left:-52px;
	right:0px;
	opacity:0.2;
	width:1280px;
	height:4200px;
	margin:0 auto;
}

.blue-dot-callout{
	margin:-195px 0px 200px;
}