.home-background-image{
	position:absolute;
	z-index:4;
	display:none;
	top:0px;
	left:-750px;
	right:0px;
	opacity:0.2;
	width:450px;
	height:834px;
	margin:0 auto;
	background-repeat:no-repeat;
}

.blue-dot-callout{
	margin:-138px 0px 120px;
	padding:0px 15px;
}

@media #{$small} {

	.blue-dot-callout{
		margin:-195px 0px 200px;
		padding:0px;
	}

}