.home-background-image{
	position:absolute;
	z-index:4;
	display:none;
	top:6px;
	left:0px;
	right:0px;
	opacity:0.2;
	width:1320px;
	height:5070px;
	margin:0 auto;
	background-repeat:no-repeat;
}

.blue-dot-callout{
	margin:-120px 0px 145px;
	padding:0px 25px;
}



@media #{$small} {

	.blue-dot-callout{
		margin:-195px 0px 200px;
		padding:0px;
	}

}