.innovative-droplet-full{
	margin-top:30px;
	padding-bottom:125px;

	.innovative-header{
		font-size:50px;
		text-align:center;
		font-weight:800;
		padding:15px 20px;
		color:#212121;
		margin-bottom:35px;
	}

	.innovative-droplet-full-image{
		position:absolute;
		width:100%;
		height:200px;
		background-repeat:no-repeat;
		background-size:contain;
	}

	.full-width-droplet {
		position:absolute;
		width: 100%;
	}
}


@media #{$small} {
	.innovative-droplet-full{
		margin-top:10px;
		padding-bottom:275px;

		.innovative-header{
			font-size:68px;
			letter-spacing: -4px;
			padding:15px 0px;
			margin:6px 0 9px;
		}

		.innovative-droplet-full-image{
			width:100%;
			background-repeat:no-repeat;
			background-size:cover;
		}
	}
}