.site-navigation{
	background-color:#1C1C1C;

	ul{
		list-style:none;
		padding-left:0;
		margin:0;
		li{
			display:block;

			&.mobile-social{
				position:relative;
				color:#9A999E;
				font-size:35px;
				padding:22px 0px;
				display:block;
				border-bottom:1px solid #8E8E8E;
				padding-left:120px;
				transition:padding-left .5s;
				cursor:pointer;

				span{
					position:absolute;
					top:20px;
					left:50px;


					.wide-load{
						margin-left:-10px;
					}
				}
				&:hover{
					background-color:#006599;
					color:#FFF;
					padding-left:130px;

					i{
						color:#FFF;
					}
				}
			}

			&.divider{
				position:relative;
				color:#FFF;
				background-color:#006599;
				font-size:35px;
				padding:22px 0px;
				display:block;
				border-bottom:1px solid #8E8E8E;
				padding-left:120px;

				span{
					position:absolute;
					top:20px;
					left:50px;

					i{
						color:#FFF;
					}
				}
			}
			a{
				color:#9A999E;
				font-size:35px;
				padding:23px 0px;
				display:block;
				border-bottom:1px solid #8E8E8E;
				margin-left:30px;
			}
			a:hover{
				background-color:#006599;
				color:#FFF;
				padding-left:10px;
			}
			&.active{
				a{
					background-color:#006599;
					color:#FFF;
					padding-left:10px;
				}
			}
		}
	}
}


@media #{$small} {

	.site-navigation{
		background-color:#006599;

		ul{
			list-style:none;
			padding-left:0;
			margin:0;
			text-align:center;
			li{
				display:inline-block;
				a{
					color:#FFF;
					font-size:15px;
					padding:14px 14px;
					display:block;
					margin-left:120px;
					border-bottom:none;
				}
				a:hover{
					background-color:#4E94B8;
					padding-left:14px;
				}
				&.active{
					a{
						background-color:#4E94B8;
						padding-left:14px;
					}
				}
			}
		}
	}

}

@media #{$medium} {
	.site-navigation{
		ul{
			li{
				a{
					margin-left:0;
				}
			}
		}
	}
}

@media #{$large} {

	.site-navigation{
		background-color:#006599;

		ul{
			list-style:none;
			padding-left:0;
			margin:0;
			li{
				display:inline-block;
				a{
					color:#FFF;
					font-size:17px;
					padding:10px 22px;
					display:block;
					margin-left:0;
					border-bottom:none;
				}
				a:hover{
					background-color:#4E94B8;
					padding-left:22px;

				}
				&.active{
					a{
						background-color:#4E94B8;
						padding-left:22px;
					}
				}
			}
		}
	}

}