.page-content-include{
	margin:145px 0px 70px;
	padding:0px 35px;
	color:#000;

	.content-title{
		font-size:44px;
		margin-bottom:25px;
		font-weight:800;
	}
	.content-description{
		font-size:22px;
		line-height:28px;
	}
}




@media #{$small} {

	.page-content-include{
		margin:28px 0px 100px;
		padding:0px 20px;

		.content-title{
			font-size:55px;
			margin-bottom:32px;
		}
		.content-description{
			font-size:18px;
			line-height:23px;
		}
	}

}