.product-support-wrapper{
	padding-bottom:130px;
	.support-form{
		h2{
			margin:10px 0 40px;
			color:#212121;
			font-size:35px;
		}
		form{
			select{
				font-size:18px;
				color:#545454;
				width:100%;
				height:70px;
				margin-bottom:22px;
				background:#F0EFF4;
				padding:0px 25px;
				border:none;
				outline:none;
				letter-spacing:1px;
				-webkit-appearance:none;
				-moz-appearance:none;
			}
			input{
				&[type="text"]{
					color:#000;
					width:100%;
					height:70px;
					margin-bottom:21px;
					background:#F0EFF4;
					border:none;
					outline:none;
					letter-spacing:1px;
					font-size:18px;
					padding:0 25px;
				}

				&[type=checkbox]{
					position:relative;
					max-width:25px;
					float:left;
					margin-right:10px;
				}
			}

			span{
				font-size:15px;
				margin:35px 0px 0px 6px;
				display:block;

				a{
					display:block;
					margin-top:10px;
				}
			}

			textarea{
				color:#000;
				width:100%;
				height:225px;
				margin-bottom:7px;
				background:#F0EFF4;
				padding:25px;
				border:none;
				outline:none;
				letter-spacing:1px;
				font-size:18px;
			}


			.button{
				margin:55px 0px;
				position:relative;
				display:block;
				padding:22px 20px;
				border-radius:5px;
				border:none;
			}
		}
	}

	::-webkit-input-placeholder {
	   color: #545454;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: #545454;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: #545454;  
	}

	:-ms-input-placeholder {  
	   color: #545454;  
	}
}