.detail-background-image{
	position:absolute;
	z-index:2;
	display:none;
	top:0px;
	opacity:0.2;
	width:1550px;
	height:3580px;
	margin:0 auto;
	left:-39px;
}


.product-detail-gallery{
	position:relative;
	padding-bottom:25px;
	
	.gallery-background-image{
		position:absolute;
		z-index:1;
		display:block;
		top:0px;
		opacity:1;
		width:100%;
		height:528px;
		margin:0 auto;
		background-size:cover;
		background-repeat:no-repeat;
	}

	.feature-image{
		position:relative;
		max-width:500px;
		height:auto;
		z-index:3;
		margin:193px 0px -150px;
	}

	.thumbnail-image-group{
		position:relative;
		z-index:2;
		background:rgba(0,0,0,.4);
		padding:15px 0px;

		.thumbnail-image{
			position:relative;
			z-index:2;
			
			.slick-slide{

				&.slick-center{

					img{
						border:3px solid #1BB5FF;
						max-height:80px;
					}
				}
			}
		}
	}
}