.detail-background-image{
	position:absolute;
	z-index:2;
	display:none;
	top:0px;
	opacity:0.2;
	width:1550px;
	height:3580px;
	margin:0 auto;
	left:-39px;
}

.product-detail-gallery{
	position:relative;
	opacity:1;
	width:100%;
	margin:0 auto;
	background-repeat:no-repeat;
	background-size:0;
	.feature-image-col{
		padding:0;
	}
	.feature-image{
		.slick-slide{
			img{
				width:100%;
			}
		}
		.slick-dots{
			display: block;
			width: 100%;
			padding: 0;
			list-style: none;
			text-align: center;
			li{
				position: relative;
				display: inline-block;
				width: 15px;
				height: 15px;
				margin: 0 5px;
				padding: 0;
				cursor: pointer;
				button{
					font-size: 0;
					line-height: 0;
					display: block;
					width: 15px;
					height: 15px;
					padding: 5px;
					cursor: pointer;
					color: transparent;
					border: 0;
					outline: none;
					-webkit-border-radius:50%;
					-moz-border-radius:50%;
					border-radius:50%;
					background: #3a393a;
				}
				&.slick-active{
					button{
						background:#0199ff;
					}
				}
			}
		}
	}
	.thumbnail-image-group{
		position:absolute;
		z-index:2;
		background:rgba(0,0,0,.4);
		width:100%;
		bottom:0;
		padding:15px 0;
		.thumbnail-image{
			.slick-slide{
				padding-left:10px;
				padding-right:10px;
				img{
					max-height:80px;
					max-width:80px;
					width:100%;
				}
				&.slick-center{
					img{
						border:3px solid #1BB5FF;
					}
				}
			}
		}
	}
}
.related-products {
	background-size:0;
	padding-top:80px;
	h2{ 
		font-size:30px; 
		font-weight: 500;
		margin-bottom: 40px;
	}
}

@media #{$small} {
	.product-detail-gallery{
		background-size:cover;
		height:528px;
		margin-bottom:25px;
		.feature-image-col{
			padding-left:10px;
			padding-right:10px;
		}
		.feature-image{
			position:absolute;
			height:auto;
			z-index:3;
			bottom:-553px;
			max-width:460px;
			width:100%;
		}
	}

	.related-products {
		background-size:cover;
	}
}