.product-manuals-wrapper{
    padding-bottom:120px;
    .heading{
        margin-bottom:30px;
    }
    h1{
        font-size:56px;
        color:#212121;
        margin:0 0 20px;
    }
    p{
        font-size:16px;
        color:#000;
    }
    .support-manuals{
        h2{
            font-size:26px;
            color:#545454;
            font-weight:300;
            
        }
        ul{
            li{
                border-top:1px solid #ccc;
                padding:20px 0;
                &:first-child{
                    border-top:none;
                }
                a{
                    display:block;
                    font-size:14px;
                    color:#000;
                    padding-left:44px;
                    &:hover{
                        color:#000;
                    }
                    .fa{
                        float:left;
                        margin-left:-44px;
                        font-size:24px;
                        color:#544302;
                    }
                }
            }
        }
    }
    .grey-box{
        background-color:#f0eff3;
        padding:20px;
        margin-bottom:30px;
        h2{
            color:#212121;
            font-size:24px;

        }
        p{
            font-size:14px;
            color:#000;
        }
        .button{
            background-color:#3a393a;
            color:#f0eff3;
            padding:20px;
            font-size:15px;
            -webkit-border-radius:3px;
            -moz-border-radius:3px;
            border-radius:3px;
            margin:0;
        }
    }
}