.product-support-wrapper{
	padding-bottom:130px;
	.support-form{
		h2{
			margin:10px 0 40px;
			color:#212121;
			font-size:35px;
		}
		form{
			select{
				font-size:18px;
				color:#545454;
				width:100%;
				height:70px;
				margin-bottom:22px;
				padding:0px 25px;
				border:none;
				outline:none;
				letter-spacing:1px;
				appearance:none;
				-webkit-appearance:none;
				-moz-appearance:none;
				background-image:url(../img/forms/form-angle-down.png);
				background-position:center right 25px;
				background-repeat:no-repeat;
				background-color:#f0eff4;

			}
			input{
				&[type="text"]{
					color:#000;
					width:100%;
					height:70px;
					margin-bottom:21px;
					background:#F0EFF4;
					border:none;
					outline:none;
					letter-spacing:1px;
					font-size:18px;
					padding:0 25px;
				}
			}

			textarea{
				color:#000;
				width:100%;
				height:225px;
				margin-bottom:7px;
				background:#F0EFF4;
				padding:25px;
				border:none;
				outline:none;
				letter-spacing:1px;
				font-size:18px;
			}

			.policy-container{
				margin-top:35px;
				padding-left:25px;
				input[type=checkbox]{
					position:relative;
					max-width:25px;
					float:left;
					margin-right:10px;
					margin-left:-25px;
				}
				span{
					font-size:16px;
					display:inline-block;
					a{
						display:inline-block;
						margin-top:10px;
					}
				}			
			}
			.button{
				margin:55px 0px;
				position:relative;
				display:block;
				padding:22px 20px;
				-webkit-border-radius:3px;
				-moz-border-radius:3px;
				border-radius:3px;
				border:none;
			}
		}
	}

	::-webkit-input-placeholder {
	   color: #545454;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: #545454;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: #545454;  
	}

	:-ms-input-placeholder {  
	   color: #545454;  
	}
}