.solutions-guide {
    padding-bottom:120px;
    h1{
        margin:18px 0px;
    }

    p{
        font-size:16px;
        color:#000;
    }

    form.custom{
        padding-right:0px;
        h2{
            font-size:26px;
            color:#cdc6c6;
            font-weight:300;
            margin:5px 0px;
        }
        label{
            padding:23px 0;
            border-top:1px solid #ccc;
            position:relative;
            color:#cdc6c6;
            font-weight: 300;
            &:first-child{
                border-top:none;
            }
            span.custom.checkbox{
                border-width:3px;
                margin-right:10px;
                margin-left:5px;
                -webkit-border-radius: 10px 9px 9px 10px/9px 9px 10px 10px;
                -moz-border-radius: 10px 9px 9px 10px/9px 9px 10px 10px;
                border-radius: 10px 9px 9px 10px/9px 9px 10px 10px;
                &.checked{
                    &:before{
                        content: "\f058";
                        font-family: "FontAwesome";
                        color: #58b6e7;
                        top: -8px;
                        left: 0px;
                        font-size: 21px;
                        background: #fff;
                        display: block;
                        position: absolute;
                    }
                }
            }
        }
        &.default{
            h2{
                color:#545454;
            }
            label{
                color:#000;
            }
        }
        &.active {
            h2{
                color:#545454;
            }
            label{
                color:#545454;
                &.active{
                    color:#58b6e7;
                }
            }

            .button{
                display:block;
            }
        }
        .button{
            display:none;
            margin-top:16px;
            border-radius:5px;
            width:100%;
            border:none;
            outline:none;
            font-weight:500;
            font-size:17px;
            letter-spacing:2px;
        }
    }
}

@media #{$small} {   
}

@media #{$medium} {
}

@media #{$large} {

}