.solutions-guide {
    padding:0px 10px;

    .guide-title{
        margin:18px 0px;
    }

    p.narrow{
        font-size:17px;
        color:#000;
    }

    .form-title{
        font-size:28px;
        font-weight:500;
        margin:5px 0px;
    }
    form.custom{

        padding-right:0px;
        label{
            padding:23px 0;
            border-top:1px solid #ccc;
            position:relative;

            span.custom.checkbox{
                border-width:3px;
                margin-right:10px;
                margin-left:5px;
                -webkit-border-radius: 10px 9px 9px 10px/9px 9px 10px 10px;
                -moz-border-radius: 10px 9px 9px 10px/9px 9px 10px 10px;
                border-radius: 10px 9px 9px 10px/9px 9px 10px 10px;
                &.checked{
                    &:before{
                        content: "\f120";
                        font-family: "ionicons";
                        color: #58b6e7;
                        top: -8px;
                        left: 0px;
                        font-size: 21px;
                        background: #fff;
                        display: block;
                        position: absolute;
                    }
                }
            }
        }

        label:first-child{
            border-top:none;
        }

        .button{
            margin-top:16px;
            border-radius:5px;
            width:100%;
            border:none;
            outline:none;
            font-weight:500;
            font-size:17px;
            letter-spacing:2px;
        }
    }
}


@media #{$small} {
    
}


@media #{$medium} {


}


@media #{$large} {
    .solutions-guide {
            padding-right:100px;
            label{
                span.custom.checkbox{
                    &.checked{
                        &:before{
                        }
                    }
                }
            }
        }
    }
}