.hero-image-container{
	background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
	position:relative;
	margin-bottom:30px;
	padding-top:162px;
	
	.half-background-image{
		background:rgba(2, 35, 51, 0.5);
		color:#FFF;
		padding:12px 35px;

		.colshell{
			width:auto;

			.hero-headline{
				font-size:60px;
				font-weight:800;
				line-height:52px;
				padding-top: 10px;
				padding-bottom: 25px;
			}

			.hero-content{
				margin:53px 0px;
				font-size:22px;
			}
		}
	}
}
.hero-image-container.short-hero {
	height: 150px;
	margin-bottom:20px;
}
.button.blue{
	background: $primary-button-color;
	padding:22px 25px;
	border:none;
	outline:none;
	border-radius:5px;
	font-size:23px;
	max-width:265px;
	width:100%;
}
.button.small {
	width:280px;
	margin-left:26px;
}

@media #{$small} {
	
	.hero-image-container{
		padding-top: 0;
		.half-background-image{
			padding:6% 46px 0 46px;
			margin-left:50%;

			.colshell{
				margin-bottom:0px;

				.hero-headline{
					font-size:65px;
					line-height:72px;
				}

				.hero-content{
					margin:32px 0px;
					font-size:20px;
					line-height:30px;
				}
				.button.blue{
					margin-top:95px;
					max-width:none;
					font-size:20px;
					padding:22px 75px;
					width:auto;
					box-shadow:0px 0px 124px #201F1F;
				}
			}
		}
	}

	.medium-sized-hero{
		.hero-image-container{
			margin-bottom:0;
		}
	}
}