.home-hero-section{
	position:relative;
	padding-bottom:25px;
	height:390px;
	margin-bottom:30px;
	
	.hero-background-image{
		position:absolute;
		z-index:1;
		display:block;
		top:0px;
		opacity:1;
		width:100%;
		height:390px;
		margin:0 auto;
		background-size:cover;
		background-repeat:no-repeat;
	}

	.half-background-image{
		position:absolute;
		z-index:1;
		display:block;
		right:0;
		min-height:50%;
		bottom:0;
		background:rgba(0, 53, 78, 0.5);
		color:#FFF;
		padding:22px 35px;

		.colshell{
			width:auto;
			margin-bottom:-192px;

			.hero-headline{
				font-size:64px;
				font-weight:800;
				line-height:75px;
			}

			.hero-content{
				margin:53px 0px;
				font-size:22px;
			}
			.button.blue{
				background: $primary-button-color;
				padding:27px 25px;
				border:none;
				outline:none;
				border-radius:5px;
				font-size:30px;
				margin-top:40px;
				max-width:325px;
				width:100%;
			}
		}
	}
}


@media #{$small} {
	
	.home-hero-section{
		height:530px;
		
		.hero-background-image{
			height:530px;
		}

		.half-background-image{
			top:0px;
			padding:78px 35px;
			height:530px;

			.colshell{
				width:400px;
				margin-bottom:0px;

				.hero-headline{
					font-size:68px;
				}

				.hero-content{
				}
				.button.blue{
					margin-top:0px;
					max-width:none;
					font-size:18px;
					padding:26px 78px;
					width:auto;
				}
			}
		}
	}

}
