.featured-products{
	
	&.two-featured-products{

		.featured-containment{
			.medium-12{
				width:30% !important;

				&.greater-than{
					width:70% !important;
					margin:10px 0px;

					.featured-title{
						margin-bottom:18px;
					}
					.featured-description{
						line-height:24px;
					}
					.view-details{
						font-size:18px;
					}
				}
			}
		}
	}
}