<div class="blue-dot-right">
	<div class="row">
		<div class="small-12 medium-6 columns">
			<div class="colshell">
				<div class="callout-image show-for-small" style="background-image:url(../img/blue-dot-callout/callout-right-main2.png)"></div>
				<h3>One product many uses</h3>
				<div class="callout-description">
					Inclusum illis seductaque nabataeaque moderantum siccis fronde. Obliquis occiduo uno opifex. Pressa terrae calidis feras iussit. Pluvialibus tollere deus quod pugnabant mixta aurea diverso. Fontes corpora pronaque totidemque pontus sed. Inclusum illis seductaque nabataeaque moderantum siccis fronde.
				</div>
				<div class="see-all">
					Learn more about the<br>
					<a href="#">FM-25 Chrome Faucet Mount Water Filter</a>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 columns">
			<div class="callout-image hide-for-small" style="background-image:url(../img/blue-dot-callout/callout-right-main2.png)">
				<div class="dot-callout hide-for-small show-for-medium-up">
					<div class="row">
						<div class="medium-4 medium-offset-1 columns">
							<div class="callout-text">
								Go from unfiltered to
								<span>Filtered with the flip of a switch</span>
								<img src="{{ page.path }}img/blue-dot-callout/line-shape.png" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="medium-4 medium-offset-1 columns">
							<img src="{{ page.path }}img/blue-dot-callout/blue-dot.png" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>