<div class="blue-dot-left">
	<div class="row">
		<div class="small-12 medium-6 columns">
			<div class="callout-image" style="background-image:url(../img/blue-dot-callout/callout-left-main.png)">
				<div class="dot-callout hide-for-small show-for-large-up">
					<div class="row">
						<div class="medium-4 medium-offset-4 columns">
							<img src="{{ page.path }}img/blue-dot-callout/blue-dot.png" />
						</div>
						<div class="medium-4 columns">
							<div class="callout-text">
								<img src="{{ page.path }}img/blue-dot-callout/bar-shape.png" />
								Each cartridge lasts
								<span>10,000 GALLONS</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 columns">
			<div class="colshell">
				<h3>Extended life refills</h3>
				<div class="callout-description">
					Inclusum illis seductaque nabataeaque moderantum siccis fronde. Obliquis occiduo uno opifex. Pressa terrae calidis feras iussit. Pluvialibus tollere deus quod pugnabant mixta aurea diverso. Fontes corpora pronaque totidemque pontus sed.
				</div>
				<div class="see-all">
					<a href="#">See all filter cartridges</a>
				</div>
			</div>
		</div>
	</div>
</div>