<div class="row">
	<div class="small-12 medium-6 columns">
		<div class="banner-left">
			<div class="banner-title">
				Aqua Clear Drinking Water System
			</div>
			<img src="{{ page.path }}img/blue-banner/water-filter.png" />
		</div>
	</div>
	<div class="small-12 medium-6 columns">
		<div class="banner-content">
			"<span>The Aqua Clear Drinking Water System</span> is ulla dictum tortor vel cursus sollicitudin. Phasellus et lacus ut sapien dapibus viverra quis at enim. Nunc aliquam eget quam ut maximus."
		</div>
		<div class="small-12 medium-6 columns">
			<div class="button transparent">
				Learn more
			</div>
		</div>
	</div>
</div>