<div class="column small-12 medium-7 culligan-retailers">
	<h4>See the full line of CulliganDIY products at these fine retailers.</h4>
	<div class="row">
		<div class="columns small-6 text-center">
			<img src="../img/find-a-retailer/amazon-logo.png" />
			<a href="#">Shop Online</a>
		</div>
		<div class="columns small-6 text-center">
			<img src="../img/find-a-retailer/ace-logo.png" />
			<a href="#">Find a Location</a>
		</div>
	</div>
	<div class="row">
		<div class="columns small-6 text-center">
			<img src="../img/find-a-retailer/true-value-logo.png" />
			<a href="#">Find a Location</a>
		</div>
		<div class="columns small-6 text-center">
			<img src="../img/find-a-retailer/best-logo.png" />
			<a href="#">Find a Location</a>
		</div>
	</div>
</div>