<div class="customer-relations-outer-wrapper">
    <img class="show-for-medium-up sidebar-splash" src="{{page.path}}img/blue-banner/sidebar-splash.png">
    <div class="customer-relations-inner-wrapper">
        <div class="customer-relations">
            <h2 class="relations-title">
                Culligan Customer Relations
            </h2>
            <div class="relations-phone">
                1.800.555.8888
            </div>
            <div class="relations-hours">
                Monday through Friday, 8am to 6pm EST
            </div>
            <div class="relations-address">
                <h4>Culligan Customer Relations</h4>
                <div>9399 West Higgins Road</div>
                <div>Suite 1100</div>
                <div>Rosemont, Illinois 60018, USA</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var fixRightAlign = function () {
      var col = $('.hero-image-container')
      var padding = Math.floor(col.offset().left); //+ Math.floor(col.css('width').replace('px',''));
      var pg = $('.page-content-include');
      var offsetwidth = (pg.outerWidth() - col.outerWidth() + pg.offset().left);

      $(".sidebar-splash").css('right', offsetwidth);
    };
    $(window).on('resize', function () {
      fixRightAlign();
    });

    $(window).on('load', function () {
      fixRightAlign();
    });
</script>