<div class="customer-relations">
    <img src="{{ page.path }}img/blue-banner/water-drop.png" />
    <div class="colshell">
        <div class="relations-title">
            Culligan Customer Relations
        </div>
        <div class="relations-phone">
            1.800.555.8888
        </div>
        <div class="relations-hours">
            Monday through Friday, 8am to 6pm EST
        </div>
        <div class="relations-address">
            <span>Culligan Customer Relations</span>
            <div>9399 West Higgins Road</div>
            <div>Suite 1100</div>
            <div>Rosemont, Illinois 60018, USA</div>
        </div>
    </div>
</div>