<div class="column small-12 medium-5 exclusive-product-line">
	<div class="row">
		<div class="columns small-12">
			<h4>Look for our exclusive product line only at Lowe's</h4>
		</div>
		<div class="columns small-6 exclusive-logo">
			<img src="../img/find-a-retailer/lowes-logo-large.png" />
		</div>
		<div class="columns small-6 text-center">
			<a href="#">Find a Location</a><br/>
			or <a href="#">Shop Online</a>
		</div>
	</div>
	<div class="row collapse image-grid">
		<div class="columns small-12">
			<img src="../img/find-a-retailer/kitchen-faucet.png" />
			<img src="../img/find-a-retailer/kitchen-faucet.png" />
		</div>
		<div class="columns small-12">
			<img src="../img/find-a-retailer/kitchen-faucet.png" />
			<img src="../img/find-a-retailer/kitchen-faucet.png" />
		</div>
	</div>
</div>