<div class="row">
	<div class="medium-6 columns half-background-image">
		<div class="colshell">
			<div class="hero-title">
				Feature on Culligan
			</div>
			<div class="hero-headline">
				Shower Head Filters
			</div>
			<div class="hero-content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
			</div>
			<div class="button">
				Rain Disc
			</div>
			<div class="button">
				Hand Held
			</div>
			<div class="button">
				Wall Mount
			</div>
			<div class="button">
				In-Line
			</div>
		</div>
	</div>
</div>