<div class="row">
	<div class="medium-6 columns half-background-image">
		<div class="colshell">
			<div class="hero-title">
				Feature on Culligan
			</div>
			<div class="hero-headline">
				Shower Head Filters
			</div>
			<div class="hero-content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. Radiis quia rerum madescit neu hominum ignea minantia. Obstabatque egens nubibus conversa aquae onerosior.
			</div>
			<div class="row">
				<div class="small-12 medium-4 columns">
					<div class="button transparent">
						Rain Disc
					</div>
				</div>
				<div class="small-12 medium-4 columns">
					<div class="button transparent">
						Hand Held
					</div>
				</div>
				<div class="small-12 medium-4 columns">
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-4 columns">
					<div class="button transparent">
						Wall Mount
					</div>
				</div>
				<div class="small-12 medium-4 columns">
					<div class="button transparent">
						In-Line
					</div>
				</div>
				<div class="small-12 medium-4 columns">
				</div>
			</div>
		</div>
	</div>
</div>