<div class="featured-containment small-12 medium-6 large-3 columns">
	<div class="colshell">
		<div class="row">
			<div class="small-6 medium-12 columns">
				<img src="{{ page.path }}img/four-featured-products/feature-image-1.png" />
			</div>
			<div class="small-6 medium-12 columns">
				<div class="featured-title">Product Name</div>
				<div class="featured-description hide-for-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>

				<form>
					<label>The Perfect Solution for</label>
					<input type="submit" class="tablet" value="Chlorine">
					<input type="submit" class="tablet" value="Scale">
					<input type="submit" class="tablet" value="Hard Water">
				</form>

				<div class="view-details">
					<a href="#">View details</a>
				</div>
			</div>
		</div>
	</div>
	<div class="featured-bar"></div>
</div>