<div class="half-background-image">
	<div class="colshell">
		<div class="hero-title">
			Feature on Culligan
		</div>
		<div class="hero-headline">
			Shower Head Filters
		</div>
		<p class="hero-content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. Radiis quia rerum madescit neu hominum ignea minantia. Obstabatque egens nubibus conversa aquae onerosior.
		</p>
		<div class="row collapse hide-for-small">
			<div class="small-12 medium-6 large-4 columns">
				<a class="button white">
					Rain Disc
				</a>
			</div>
			<div class="small-12 medium-6 large-4 columns end">
				<a class="button white">
					Hand Held
				</a>
			</div>
		</div>
		<div class="row collapse hide-for-small">
			<div class="small-12 medium-6 large-4 columns">
				<a class="button white">
					Wall Mount
				</a>
			</div>
			<div class="small-12 medium-6 large-4 columns end">
				<a class="button white">
					In-Line
				</a>
			</div>
		</div>
	</div>
</div>