<div class="find-store-container">
	<div class="row">
		<div class="columns top-text-wrapper" >
			<span class="top-text">found exclusively at</span><img src="{{page.path}}/img/product-detail/lowes-logo.png" />
		</div>
		<div class="columns">
			<a class="button primary expand">
				<i class="fa fa-map-marker"></i> Find a Lowe’s Near You
			</a>
		</div>
		<div class="columns text-center">
			<span class="bottom-text">Or <a href="#">buy it from a dealer</a> &amp; have it installed for you</span>
		</div>
	</div>
</div>