<div class="find-store-container full-width">
	<div class="row">
		<div class="columns medium-8 top-text-wrapper" >
			<span class="top-text"><span class="show-for-medium-up">This product can be </span>found exclusively at</span><img src="{{page.path}}/img/product-detail/lowes-logo.png" />
		</div>
		<div class="columns medium-4">
			<a class="button primary expand">
				<i class="fa fa-map-marker"></i> Find a Lowe’s Near You
			</a>
		</div>
		<div class="columns show-for-small">
			<span class="bottom-text">Or <a href="#">buy it from a dealer</a> &amp; have it installed for you</span>
		</div>
	</div>
</div>