<div class="site-footer">
	<div class="row">
		<div class="small-12 medium-7 columns">
			<div class="customer-support">
				<div class="support-title">
					Customer Support
				</div>
				<div class="medium-4 columns">
					<ul>
						<li><a href="#">Product Support</a></li>
						<li><a href="#">Warranty Registration</a></li>
						<li><a href="#">Product Manual Library</a></li>
					</ul>
				</div>
				<div class="medium-4 columns">
					<ul>
						<li><a href="#">Contact CulliganDIY</a></li>
						<li><a href="#">Find a Culligan Man</a></li>
						<li><a href="#">Call Us 1-800-000-0000</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-links">
				<ul>
					<li>Copyright 2015 Culligan</li><span> | </span>
					<li><a href="#">About Culligan</a></li><span> | </span>
					<li><a href="#">Culligan Cares</a></li><span> | </span>
					<li><a href="#">Terms</a></li><span> | </span>
					<li><a href="#">Privacy Policy</a></li><span> | </span>
					<li><a href="#">Sitemap</a></li>
				</ul>
			</div>
		</div>
		<div class="small-12 medium-5 columns">
			<div class="mailing-list">
				<div class="mailing-title">Join our mailing list</div>
				<div class="mailing-tagline">Get the latest on new product launches and promotions!</div>
			    <div class="row">
				    <div class="large-12 columns">
				      <div class="row collapse">
				        <div class="small-10 columns">
				          <i class="fa fa-envelope-o"></i>
				          <input type="text" placeholder="Email Address">
				        </div>
				        <div class="small-2 columns">
				          <a href="#" class="button postfix">JOIN</a>
				        </div>
				      </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>