<div class="site-footer">
	<div class="row">
		<div class="small-12 medium-8 columns">
			<div class="customer-support">
				<div class="row collapse">
					<div class="small-12 medium-6 columns">
						<div class="support-title">
							Customer Support
						</div>
					</div>
				</div>
				<div class="row collapse">
					<div class="small-6 medium-4 columns">
						<ul>
							<li><a href="#">Product Support</a></li>
							<li><a href="#">Warranty Registration</a></li>
							<li><a href="#">Product Manual Library</a></li>
						</ul>
					</div>
					<div class="small-6 medium-4 columns end">
						<ul>
							<li><a href="#">Contact CulliganDIY</a></li>
							<li><a href="#">Find a Culligan Man</a></li>
							<li><a href="#">Call Us 1-800-000-0000</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-4 columns">
			<div class="mailing-list">
				<div class="mailing-title">Join our mailing list</div>
				<div class="mailing-tagline">Get the latest on new product launches and promotions!</div>
		    	<form id="email-form">
				      <div class="row collapse">
				        <div class="small-9 columns">
				          <i class="fa fa-envelope"></i>
				          <input type="text" placeholder="Email Address">
				        </div>
				        <div class="small-3 columns">
				          <input type="submit" id="join" class="button postfix" value="JOIN" />
				        </div>
				      </div>
				</form>
				<div class="email-success">
					Thank you for joining the mailing list! You won't regret it.
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-4 medium-push-8 columns">
			<div class="social-links">
				<ul>
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				</ul>
			</div>
		</div>

		<div class="small-12 medium-7 medium-pull-5 columns">
			<div class="footer-links">
				<ul>
					<li>Copyright 2015 Culligan</li><span>|</span>
					<li><a href="#">About Culligan</a></li><span>|</span>
					<li><a href="#">Culligan Cares</a></li><span>|</span>
					<li><a href="#">Terms</a></li><span>|</span>
					<li><a href="#">Privacy Policy</a></li><span>|</span>
					<li><a href="#">Sitemap</a></li>
				</ul>
			</div>
		</div>		
	</div>
</div>

<script type="text/javascript">
	//this code is just to show the success state of the form. this JS will go away in production
	$(document).ready(function(){
		$("#join").click(function( e ) {
			e.preventDefault();
			$("#email-form").hide();
			$(".email-success").show();
		});
	});
</script>