<div class="row featured-products">
	<div class="small-12 medium-6 large-3 columns">
		{% include featured-product.html %}
	</div>
	<div class="small-12 medium-6 large-3 columns">
		{% include featured-product2.html %}
	</div>
	<div class="small-12 medium-6 large-3 columns hide-for-small">
		{% include featured-product.html %}
	</div>
	<div class="small-12 medium-6 large-3 columns hide-for-small">
		{% include featured-product2.html %}
	</div>
</div>
<a class="button secondary show-for-small view-all-button" href="#">View all shower head filters</a>

<script type="text/javascript">
$(document).ready(function(){
        var equalHeightProds = function () {
            var highestBox = 0;
            jQuery('.featured-products .inner-wrapper').each(function(){
                jQuery(this).css('min-height','0');
                var thisHeight = jQuery(this).outerHeight();
                if(thisHeight > highestBox){
                    highestBox = thisHeight;
                }
            });
            jQuery('.featured-products .inner-wrapper').css("min-height",highestBox);
        };
              
        jQuery(window).on('resize', function () {
            if (jQuery(window).width() > 767){
              equalHeightProds();
            }
            else { jQuery('.inner-wrapper').height('auto').css('min-height','0'); }
        });
});
</script>