<div class="row featured-products">
	<div class="small-12 medium-6 large-3 columns">
		{% include featured-product.html %}
	</div>
	<div class="small-12 medium-6 large-3 columns">
		{% include featured-product.html %}
	</div>
	<div class="small-12 medium-6 large-3 columns hide-for-small">
		{% include featured-product.html %}
	</div>
	<div class="small-12 medium-6 large-3 columns hide-for-small">
		{% include featured-product.html %}
	</div>
</div>
<a class="button secondary show-for-small view-all-button" href="#">View all shower head filters</a>