<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--
	  Prevent this staging site from showing up in search results.
	  Don't use this meta tag in the production site.
	-->
	<meta name="robots" content="noindex,nofollow">

	<title>{{ page.title }} | Culligan</title>

	<!-- Adobe Typekit Allumi -->
	<script src="//use.typekit.net/faq3itn.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

	<link href="{{ page.path }}css/font-awesome.css" rel="stylesheet">
	<link href="{{ page.path }}css/slick.css" rel="stylesheet">
	<!-- The main app css file -->
	<link href="{{ page.path }}css/app.css" rel="stylesheet">
	<style>
		body{
			font-family:'dinot';
		}
		.button.transparent{
			width:100%;
			max-width:155px;
			background:transparent;
			border:1px solid #FFF;
			border-radius:3px;
			padding:11px 15px;
			font-size:19px;
			font-weight:100;
			margin-right:14px;
			margin:0px 14px 17px 0px;

			&:hover{
				color:rgba(0, 91, 19, 0.7);
				background:#FFF;
			}
		}
	</style>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<script src="{{ page.path }}js/slick.min.js"></script>
	<!-- modernizr to help with some feature detection -->
	<script src="{{ page.path }}js/vendor/custom.modernizr.js"></script>
</head>