
<div class="top-header">
	<div class="row">
		<div class="small-12 medium-5 columns colwrap">
			<a class="site-title" href="{{ site.baseurl }}/"><img src="{{ page.path }}img/header/logo.png" /></a>
			<div class="tag-line">Do it yourself</div>
		</div>
		<div class="medium-7 columns">
			<span class="header-icon hide-for-small">
				<i class="fa fa-briefcase"></i>
				Solution Guide
				<i class="fa fa-map-marker"></i>
				Find a Retailer
			</span>
			<form>
		      <i class="fa fa-search fa-fw"></i>
		      <input type="text" placeholder="Search...">
			</form>
		</div>
	</div>
</div>
