
<div class="top-header">
	<div class="row">
		<div class="small-12 medium-3 large-4 columns colwrap">
			<a class="site-title" href="{{ site.baseurl }}/"><img src="{{ page.path }}img/header/logo.png" /></a>
			<div class="tag-line">Do it yourself</div>
		</div>
		<div class="medium-8 large-8 columns">
			<span class="header-icon hide-for-small medium-5 large-7 columns">
				<div class="medium-12 large-6 columns">
					<div class="colshell dark-button">
						<i class="fa fa-briefcase"></i>
						Solution Guide
					</div>
				</div>
				<div class="medium-12 large-6 columns">
					<div class="colshell dark-button">
						<i class="fa fa-map-marker"></i>
						Find a Retailer
					</div>
				</div>
			</span>
			<div class="small-12 medium-7 large-5 columns">
				<form>
			      <i class="fa fa-search fa-fw"></i>
			      <input type="text" placeholder="Search...">
				</form>
			</div>
		</div>
	</div>
</div>
