<div class="site-navigation">
	<div class="row">
		<ul>
			<li class="divider show-for-small">
				<span><i class="fa fa-angle-double-down"></i></span>Products
			</li>
			<li>
				<a href="#">Undersink Systems</a>
			</li>
			<li>
				<a href="#">Whole House Systems</a>
			</li>
			<li>
				<a href="#">Faucet Filters</a>
			</li>
			<li>
				<a href="#">Refrigerator Filters</a>
			</li>
			<li class="active">
				<a href="#">Shower Head Filter</a>
			</li>
			<li>
				<a href="#">Specialty Filters</a>
			</li>
			<li>
				<a href="#">Replacements</a>
			</li>
			<li class="mobile-social show-for-small">
				<span><i class="fa fa-briefcase wide-load"></i></span>Products
			</li>
			<li class="mobile-social show-for-small">
				<span><i class="fa fa-map-marker"></i></span>Products
			</li>
		</ul>
	</div>
</div>