<div class="one-forth-background"></div>
<div class="one-forth-background-image">
	<div class="row">
		<div class="small-6 columns">
			<img src="{{ page.path }}img/one-forth-hero/shining.png" />
		</div>
		<div class="small-6 columns greater-than">
			<div class="featured-title">Featured Product Name</div>
			<div class="featured-description hide-for-small">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</div>

			<form>
				<label>The Perfect Solution for</label>
				<input type="submit" class="tablet" value="Hard Water">
				<input type="submit" class="tablet" value="Water Odor">
				<input type="submit" class="tablet" value="Bacterial Presence">
			</form>

			<div class="view-details">
				<a href="#">View details</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<img class="droplet" src="{{ page.path }}img/blue-banner/water-drop.png">
</div>