<div class="row">
	<div class="column medium-5 feature-image-col">
		<div class="feature-image" >
			<div><img src="{{ page.path }}img/product-detail-gallery/feature-image-1.png" /></div>
			<div><img src="{{ page.path }}img/product-detail-gallery/feature-image-2.png" /></div>
			<div><img src="{{ page.path }}img/product-detail-gallery/feature-image-1.png" /></div>
			<div><img src="{{ page.path }}img/product-detail-gallery/feature-image-2.png" /></div>
			<div><img src="{{ page.path }}img/product-detail-gallery/feature-image-1.png" /></div>
			<div><img src="{{ page.path }}img/product-detail-gallery/feature-image-2.png" /></div>
			<div><img src="{{ page.path }}img/product-detail-gallery/feature-image-1.png" /></div>
			<div><img src="{{ page.path }}img/product-detail-gallery/feature-image-2.png" /></div>
			<div><img class="video" src="http://img.youtube.com/vi/RWBN230iKts/1.jpg" /></div>
		</div>
	</div>
</div>
<div class="thumbnail-image-group show-for-medium-up">
	<div class="row">
		<div class="column medium-7 medium-offset-5">
			<div class="thumbnail-image">
				<div><img src="{{ page.path }}img/product-detail-gallery/thumbnail-image-1.png" /></div>
				<div><img src="{{ page.path }}img/product-detail-gallery/thumbnail-image-2.png" /></div>
				<div><img src="{{ page.path }}img/product-detail-gallery/thumbnail-image-1.png" /></div>
				<div><img src="{{ page.path }}img/product-detail-gallery/thumbnail-image-2.png" /></div>
				<div><img src="{{ page.path }}img/product-detail-gallery/thumbnail-image-1.png" /></div>
				<div><img src="{{ page.path }}img/product-detail-gallery/thumbnail-image-2.png" /></div>
				<div><img src="{{ page.path }}img/product-detail-gallery/thumbnail-image-1.png" /></div>
				<div><img src="{{ page.path }}img/product-detail-gallery/thumbnail-image-2.png" /></div>
				<div><img src="http://img.youtube.com/vi/RWBN230iKts/1.jpg" /></div>
			</div>
		</div>
	</div>
</div>
<div class="video-modal" style="display:none;">
	<div class="video-modal-wrapper">
		<div class="video-content"><iframe src="https://www.youtube.com/embed/RWBN230iKts" frameborder="0" allowfullscreen></iframe></div>
		<a href="#" class="close-video-modal" >Close</a>
	</div>
</div>

<script>
	$(document).ready(function(){
		$('.feature-image').slick({
			mobileFirst:true,
			slidesToShow: 1,
			slidesToScroll: 1,
			arrows: false,
			fade: true,
			dots:true,
			responsive:[
				{
					breakpoint:768,
					settings:{
						dots:false,
						asNavFor: '.thumbnail-image',
					}
				}
			]
		});
		$('.thumbnail-image').slick({
			mobileFirst:true,
			slidesToShow: 6,
			slidesToScroll: 1,
			asNavFor: '.feature-image',
			dots: false,
			arrows: false,
			centerMode: true,
			focusOnSelect: true,
		});
		$('.feature-image').on('afterChange', function(event, slick, currentSlide){

			var curObj = $('.feature-image .slick-slide[data-slick-index="'+currentSlide+'"]');
			var is_video = curObj.children('img.video').length > 0;
			if(is_video){
				$('.video-modal').show();
			}
		});
		$('.close-video-modal').click(function(event) {
			event.preventDefault();
			$('.video-modal').hide();
		});
	});
</script>