
<script src="{{ page.path }}js/vendor/jquery.js"></script>
<script src="{{ page.path }}js/foundation/foundation.js"></script>
<!-- <script src="{{ page.path }}js/foundation/foundation.topbar.js"></script> -->
<script src="{{ page.path }}js/foundation/foundation.alerts.js"></script>
<script src="{{ page.path }}js/foundation/foundation.dropdown.js"></script>
<script src="{{ page.path }}js/foundation/foundation.forms.js"></script>
<script src="{{ page.path }}js/foundation/foundation.section.js"></script>
<script src="{{ page.path }}js/foundation/foundation.tooltips.js"></script>
<script src="{{ page.path }}js/vendor/css-animate-auto.js"></script>
<script src="{{ page.path }}js/vendor/typed.js"></script>
<script src="{{ page.path }}js/foundation/foundation.equalizer.js"></script>
<script src="{{ page.path }}js/foundation/foundation.interchange.js"></script>
<script src="{{ page.path }}js/foundation/foundation.orbit.js"></script>
<script src="{{ page.path }}js/insight-subnav.js"></script>
<script>
//Some Global Variables
var breakpointMedium = 768,
    breakpointLarge = 1180;

$(document).foundation();

$(function() {

  //
  // GLOBAL NAV
  //
  // Search
  $('#global-search-nav-input').focusin(function(){
    $('.global-search').addClass('expanded');
    $(this).attr('placeholder','What can we help you find?');
  });
  $('#global-search-nav-input').focusout(function(){
    $('.global-search').removeClass('expanded');
    $(this).val('');
    $(this).attr('placeholder','');
  });
  // Open Menu
  $('.toggle-topbar > a').click(function(e){
    $('.top-bar').toggleClass('expanded');
    e.preventDefault();
  });

  // Throttle window resize event for performance and smoothness
  (function($,sr) {
    // Debounce function by John Hann
    // http://unscriptable.com/index.php/2009/03/20/debouncing-javascript-methods/
    var debounce = function (func, threshold, execAsap) {
      var timeout;

      return function debounced () {
        var obj = this, args = arguments;
        function delayed () {
          if (!execAsap)
            func.apply(obj, args);
          timeout = null;
        };
        if (timeout)
          clearTimeout(timeout);
        else if (execAsap)
          func.apply(obj, args);
        timeout = setTimeout(delayed, threshold || 100);
      };
    }
    // Smart Resize function by Paul Irish
    // http://www.paulirish.com/2009/throttled-smartresize-jquery-event-handler/
    jQuery.fn[sr] = function(fn) { return fn ? this.bind('resize', debounce(fn)) : this.trigger(sr); };

  })(jQuery,'smartresize');

  // Keep all window resize scripts within the throttling function
  $(window).smartresize(function() {

    var resizedWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

    // Check if window width is at nav breakpoint
    // Update this value if desktop nav breakpoint is changed from 980px
    if ( resizedWidth >= 980 ) {

      // Mega dropdown menus in navigation
      $('.mega-dropdown-link')
        .mouseenter(function(){
          var thisButton = $(this),
              thisDropdown = $('#'+$(this).data('dropdown'));
          // Clear closing timer when mouse is over the dropdown link
          clearTimeout(thisButton.data('thisTimeout'));
          // Open dropdown
          thisDropdown.cssAnimateAuto('open');
        })
        .mouseleave(function(){
          var thisButton = $(this),
              thisDropdown = $('#'+$(this).data('dropdown')),
              thisTimeout = setTimeout(function(){
                thisDropdown.cssAnimateAuto('close');
              }, 300);
          // Set timer to delay closing
          // This gives time for animation and for mouse to enter dropdown menu
          thisButton.data('thisTimeout',thisTimeout);
        });
      $('.mega-dropdown')
        .mouseenter(function(){
          var thisDropdown = $(this),
              thisButton = $('.mega-dropdown-link[data-dropdown="'+thisDropdown.attr('id')+'"]');
          // Clear closing timer when mouse enters the dropdown menu
          clearTimeout(thisButton.data('thisTimeout'));
        })
        .mouseleave(function(){
          // Close dropdown
          $(this).cssAnimateAuto('close');
        });

      // Check if top-bar was expanded from mobile nav and remove class
      if ( $('.top-bar').hasClass('expanded') ) {
        $('.top-bar').removeClass('expanded');
      }
    }
    else {
      // Unbind dropdown mouse events
      $('.mega-dropdown-link').unbind('mouseenter').unbind('mouseleave');
    }

    //
    //SECONDARY NAVIGATION
    //Check and reset secondary navigation if necessary
    if (resizedWidth >=breakpointMedium){
      if ((Math.abs($('.table-list').first().data('lastKnownWidth') - resizedWidth)>200)|| typeof($('.table-list').first().data('lastKnownWidth'))==="undefined"){ //If we need to recheck our tableLists
        resetTableLists();
        $('.table-list').each(function(){
          initTableList($(this));
        });
      }
    } else if ($('.table-list-has-more').length > 0){
      //If we're small and need to reset
      if ($('.table-list').first().data('lastKnownWidth') > breakpointMedium)
      {
        //console.log("hitting the min breakpoint...2");
        resetTableLists();
      }
    }

  });

  // Init functions inside the window resize throttle
  var initialWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

  if ( initialWidth >= 980 ) {

    // Mega dropdown menus in navigation
    $('.mega-dropdown-link')
      .mouseenter(function(){
        var thisButton = $(this),
            thisDropdown = $('#'+$(this).data('dropdown'));
        // Clear closing timer when mouse is over the dropdown link
        clearTimeout(thisButton.data('thisTimeout'));
        // Open dropdown
        thisDropdown.cssAnimateAuto('open');
      })
      .mouseleave(function(){
        var thisButton = $(this),
            thisDropdown = $('#'+$(this).data('dropdown')),
            thisTimeout = setTimeout(function(){
              thisDropdown.cssAnimateAuto('close');
            }, 300);
        // Set timer to delay closing
        // This gives time for animation and for mouse to enter dropdown menu
        thisButton.data('thisTimeout',thisTimeout);
      });
    $('.mega-dropdown')
      .mouseenter(function(){
        var thisDropdown = $(this),
            thisButton = $('.mega-dropdown-link[data-dropdown="'+thisDropdown.attr('id')+'"]');
        // Clear closing timer when mouse enters the dropdown menu
        clearTimeout(thisButton.data('thisTimeout'));
      })
      .mouseleave(function(){
        // Close dropdown
        $(this).cssAnimateAuto('close');
      });

  }
  //
  //SECONDARY NAVIGATION
  if (initialWidth >= breakpointMedium){
    $('.table-list').each(function(){
      initTableList($(this));
    });
  }
  $('.sub-nav-toggle-button').click(function(){
    $(this).closest('.default-sub-nav-container').toggleClass('open');
  });

  // Regular dropdown menus in navigation
  $('.dropdown-link').click(function(e){
    var thisButton = $(this),
        activeClass = 'expanded',
        otherButtons = $('.dropdown-link').not(thisButton).filter('.'+activeClass);
    // Close dropdown
    if ( thisButton.hasClass(activeClass) ) {
      thisButton.siblings('ul').cssAnimateAuto({
        action: 'close',
        openClass: activeClass
      },function(){
        thisButton.removeClass(activeClass);
      });
      // Remove listener
      $(document).off('.dropdown');
    }
    // Open dropdown
    else {
      // Close other dropdowns first
      if ( otherButtons.length > 0 ) {
        otherButtons.siblings('ul').cssAnimateAuto({
          action: 'close',
          openClass: activeClass
        },function(){
          otherButtons.removeClass(activeClass);
        });
      }
      // Now open this one
      thisButton.addClass(activeClass).siblings('ul').cssAnimateAuto({
        action: 'open',
        openClass: activeClass
      });
      // Add event listener to document that will close the dropdown if you click outside of it
      $(document).on('click.dropdown',function(){
        if ( !$(event.target).parents('.top-bar-section').length || !$(event.target).parents('.home-nav').length ){
          // Close dropdown
          thisButton.siblings('ul').cssAnimateAuto({
            action: 'close',
            openClass: activeClass
          },function(){
            thisButton.removeClass(activeClass);
          });
          // Remove listener
          $(document).off('.dropdown');
        }
      });
    }
    e.preventDefault();
    e.stopPropagation();
  });

});

</script>


