
<script src="{{ page.path }}js/vendor/jquery.js"></script>
<script src="{{ page.path }}js/foundation/foundation.js"></script>
<script src="{{ page.path }}js/foundation/foundation.alerts.js"></script>
<script src="{{ page.path }}js/foundation/foundation.dropdown.js"></script>
<script src="{{ page.path }}js/foundation/foundation.forms.js"></script>
<script src="{{ page.path }}js/foundation/foundation.section.js"></script>
<script src="{{ page.path }}js/foundation/foundation.tooltips.js"></script>
<script src="{{ page.path }}js/vendor/css-animate-auto.js"></script>
<script src="{{ page.path }}js/vendor/typed.js"></script>
<script src="{{ page.path }}js/foundation/foundation.equalizer.js"></script>
<script src="{{ page.path }}js/foundation/foundation.interchange.js"></script>
<script src="{{ page.path }}js/foundation/foundation.orbit.js"></script>
<script src="{{ page.path }}js/foundation/foundation.reveal.js"></script>
<script>
  $(document).foundation();
</script>