<div class="sidebar-proudct-manual-container">
	<div class="row">
		<div class="column text-center">
			<img src="../img/product-detail/installation-no-tool-icon.png">
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<div class="warranty">5 Year Limited Warranty</div>
			<a class="button primary expand manual-button"><i class="fa fa-book"></i>Download the product Manual</a>
			<a class="button primary expand help-button"><i class="fa fa-question-circle"></i>Need Help? Ask our experts</a>
		</div>
	</div>
</div>