<div class="support-links">
	<div class="support-link">
		<div class="support-title">
			Product Manual Library
		</div>
		<div class="support-description">
			We have our entire product line's documentation online for your convenience.
		</div>
		<a href="#" class="button transparent expand">
			Check Out Our Manual Library
		</a>
	</div>
	<div class="support-link">
		<div class="support-title">
			Your Culligan Man Can Help
		</div>
		<div class="support-description">
			If you're feeling overwhelmed with your DIY project, feel free to contact one of our trusted dealers. There's one in your area waiting to help!
		</div>
		<a href="#" class="button transparent expand">
			Contact Your Culligan Man
		</a>
	</div>
</div>