<div class="support-form">
	<form>
		<label>Get Product Support</label>
        <select>
          <option value="husker">What product do you need support for?</option>
          <option value="husker">Mary</option>
          <option value="starbuck">Little</option>
          <option value="hotdog">Hot Dog</option>
          <option value="apollo">Lamb</option>
        </select>

    		<input type="text" placeholder="Your Name" />

    		<input type="text" placeholder="Email Address" />

    		<input type="text" placeholder="Phone [Optional]" />

        <textarea placeholder="Comment/Question/Concern"></textarea>
      	<input id="checkbox1" type="checkbox"><span>Yes, I would like to receive email communications from Culligan.<a href="#">Privacy Policy</a></span>
      	<div class="button primary">
      		Submit
      	</div>

	</form>
</div>