<div class="hero-image-container" style="background-image:url(../img/home/hero-image.png)">
	<div class="row">
		<div class="medium-6 medium-offset-6 columns half-background-image">
			<div class="colshell">
				<div class="hero-headline">
					Big headline goes here
				</div>
				<div class="hero-content hide-for-small">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
				</div>
				<div class="button blue">
					Primary CTA
				</div>
			</div>
		</div>
	</div>
</div>