<div class="hero-image-container" style="background-image:url(../img/home/hero-image.png);">
	<div class="half-background-image">
		<div class="row">
			<div class="medium-12 columns">
				<div class="colshell">
					<div class="hero-headline">Big headline goes here</div>
					<div class="hero-content hide-for-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
					<div class="button blue primary hide-for-small">Primary CTA</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="button blue primary hide-for-medium-up small">
	Primary CTA
</div>

<script type="text/javascript">
	var fixLeftAlign = function () {
      var col = $('.site-title')
      var padding = Math.floor(col.offset().left) + Math.floor(col.css('padding-left').replace('px',''));
      $(".half-background-image").css('padding-left', padding + 'px');
    };
    $(window).on('resize', function () {
      fixLeftAlign();
    });

    $(window).on('load', function () {
      fixLeftAlign();
    });
</script>