<div class="three-forth-background-image">
	<div class="row">
		<div class="featured-containment">
			<div class="small-12 medium-6 columns">
				<img src="{{ page.path }}img/three-forth-hero/pouring.png" />
			</div>
			<div class="small-12 medium-6 columns greater-than">
				<div class="featured-title">Featured Product Name</div>
				<div class="featured-description hide-for-small">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</div>

				<form>
					<label>The Perfect Solution for</label>
					<input type="submit" class="tablet" value="Hard Water">
					<input type="submit" class="tablet" value="Water Odor">
					<input type="submit" class="tablet" value="Bacterial Presence">
				</form>

				<div class="view-details">
					<a href="#">View details</a>
				</div>
			</div>
		</div>
	</div>
</div>
