<div class="three-forth-background-image">
	<div class="row collapse">
		<div class="featured-containment" id="three-forth-hero">
			<div class="small-12 medium-6 columns">
				<img src="{{ page.path }}img/three-forth-hero/pouring.png" />
			</div>
			<div class="small-12 medium-6 columns greater-than">
				<h3 class="featured-title">Featured Product Name</h3>
				<p class="featured-description hide-for-small">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>

				<form>
					<label>The Perfect Solution for</label>
					<input type="submit" class="tablet button" value="Hard Water">
					<input type="submit" class="tablet button" value="Water Odor">
					<input type="submit" class="tablet button" value="Bacterial Presence">
				</form>

				<div class="view-details">
					<a class="button" href="#">View details</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var fixThreeFourthAlign = function () {
      var col = $('.site-title');
      var padding = Math.floor(col.offset().left) + Math.floor(col.css('padding-left').replace('px',''));
      $("#three-forth-hero").css('padding-left', padding + 'px');
    };
    $(window).on('resize', function () {
      fixThreeFourthAlign();
    });

    $(window).on('load', function () {
      fixThreeFourthAlign();
    });
</script>