<!DOCTYPE html>
<html>

  {% include scripts.html %}

  {% include head.html %}

  <body>
    <div class="top-section">
      {% include header.html %}
      {% include navigation.html %}
    </div>


<div class="row mobile-header">

  <div class="show-for-small columns">
    <div class="mobile-close mobile-toggle">
      <img src="{{ page.path }}img/header/mobile-close.png" />
    </div>

    <div class="mobile-open mobile-toggle">
      <img src="{{ page.path }}img/header/mobile-open.png" />
    </div>
  </div>

  <div class="show-for-small small-10 small-offset-2 columns">
    <div class="show-for-small">
      <div class="small-12 columns">
        <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ page.path }}img/header/logo.png" /></a>
        <div class="tag-line">Do it yourself</div>
      </div>
    </div>
  </div>

</div>


    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

  <script>
    $(document).ready(function(){
      $('.mobile-toggle').click(function(){
        $('html').toggleClass('mobile-menu');
        $('.mobile-close').toggleClass('indexing');
      });
     /* $('.mobile-close').click(function(){
        $(this).parent().find('.top-section').addClass('mobile-closed');
        $(this).fadeOut(2000);
      });*/
    });
  </script>

  <style>
    .mobile-closed{
        left:-600px;
    }
  </style>

</html>
