---
layout: default
title: Product Detail
slug: product-detail
path: ../
---

<div class="product-detail-content">
	<div class="product-detail-gallery" style="background-image:url({{page.path}}/img/product-detail/remodelbath.jpg)">
		{% include product-detail-gallery.html %}
	</div>
	<div class="row">
		<div class="column">
			<h1 class="show-for-small">RainDisc<span class="trademark">&reg;</span> Filtered Showerhead</h1>
			<div class="row">
				<div class="columns medium-4 medium-push-8">
					{% include find-store-short.html %}
					{% include sidebar-product-manual.html %}
				</div>
				<div class="columns medium-7 medium-pull-4 accordion-container">
					<div class="section-custom-accordion overview" data-section="accordion">
						<section class="active">
							<p class="title-custom show-for-small" data-section-title><a href="#">Overview</a></p>
							<div class="content-custom product-detail-main" data-section-content>
								<h1 class="hide-for-small">RainDisc<span class="trademark">&reg;</span> Filtered Showerhead</h1>
								<p class="tagline">The extended name of the product can go here, plus some additional important supporting copy.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							</div>
						</section>
					</div>
				</div>
				<div class="columns">
					<div class="solution-container">
						<div class="row">
							<div class="columns medium-4">
								<h2>THE PERFECT SOLUTION FOR</h2>
							</div>
							<div class="columns medium-8">
								<a href="#" class="button primary transparent">Chlorine</a>
								<a href="#" class="button primary transparent">Scale</a>
								<a href="#" class="button primary transparent">Sulfur Odor</a>
							</div>
							<img class="small-splash-bg show-for-medium-up" src="{{page.path}}img/product-detail/small-splash.png">
						</div>
					</div>
				</div>
				<div class="columns accordion-container">
					<div class="section-custom-accordion features" data-section="accordion">
						<section class="active">
							<p class="title-custom show-for-small" data-section-title><a href="#">Features &amp; benefits</a></p>
							<div class="content-custom features-content" data-section-content>
								<div class="row features-row" style="background-image:url({{page.path}}img/product-detail/spec-image.png);">
<!-- 									<div class="columns medium-6 show-for-medium-up">
										<img class="spec-image" src="{{page.path}}img/product-detail/spec-image.png">
									</div> -->
									<div class="columns small-12 medium-5 medium-offset-7 features-benefits">
										<h2 class="hide-for-small">Features &amp; benefits</h2>
										<ul>
											<li>2-quart pitcher fits in most refrigerator doors</li>
											<li>Built-in cartridge replacement indicator on lid</li>
											<li>Ergonomically designed handle for easy pouring</li>
											<li>Spout cover prevents transfer of refrigerator odors</li>
											<li>2-year limited warranty</li>
											<li>Space saving design</li>
										</ul>
										<table>
											<thead>
												<tr>
													<th colspan="2">Specifications</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Spec Title</td>
													<td>Spec information</td>
												</tr>
												<tr>
													<td>Spec Title</td>
													<td>Spec information</td>
												</tr>
												<tr>
													<td>Spec Title</td>
													<td>Spec information</td>
												</tr>
												<tr>
													<td>Spec Title</td>
													<td>Spec information</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</section>
					</div>					
				</div>
			</div>
		</div>
	</div>
	{% include find-store-full-width.html %}

	<div class="related-products" style="background-image:url(../img/product-detail/full-screen-splash.png)">
		<div class="row">
			<div class="column">
				<h2 class="text-center">Related Products</h2>
				{% include four-featured-products.html %}
			</div>
		</div>
	</div>
</div>