//
// Font Mixin
// --------------------------------------------------

@mixin declare-font-face($font-family, $font-filename, $font-weight, $font-style) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("../fonts/#{$font-filename}.otf");
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

//
// Font Declarations
// --------------------------------------------------

/* ==========================================================================
    DINOT
   ========================================================================== */

@include declare-font-face("dinot", "DINOT", 100, normal);
@include declare-font-face("dinot", "DINOT-Italic", 100, italic);
@include declare-font-face("dinot", "DINOT-Medium", normal, normal);
@include declare-font-face("dinot", "DINOT-MediumItalic", normal, italic);

/* ==========================================================================
    Ionicons
   ========================================================================== */

@include declare-font-face("ionicons", "ionicons", normal, normal);
