---
layout: default
title: Product Manuals
slug: product-manuals
path: ../
---


{% include short-hero.html %}

<div class="product-manuals-wrapper">
	<div class="row">
		<div class="small-12 medium-7 columns">
			<div class="heading">
	    		<h1>Support</h1>
	      		<p>Lorem ipsum dolor sit amet, consectetu adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	      	</div>
      	</div>
		<div class="small-12 medium-4 columns">
	    	<div class="grey-box">
	    		<h2>Warranty</h2>
	    		<p>Lorem ipsum dolor sit amet, consectetur</p>
	    		<a class="button expand">Fill out the Warranty Card</a>
	    	</div>
      	</div>
  	</div>
  	<div class="row support-manuals">
		<div class="medium-3 columns">
      		<h2>Drinking Water</h2>
	      	<ul class="no-bullet">
		     	<li>
		     		<a href="#">
			     		<i class="fa fa-book"></i>
			     		Product name goes here and can be longer than a single line
		     		</a>
		      	</li>
		      	{% for i in (0..4)%}
		     	<li>
		     		<a href="#">
			     		<i class="fa fa-book"></i>
			     		Product name goes here
		     		</a>
		      	</li>
		      	{% endfor %}
			</ul>
		</div>
		<div class="medium-3 medium-offset-1 columns">
      		<h2>Whole House</h2>
	      	<ul class="no-bullet">
		     	<li>
		     		<a href="#">
			     		<i class="fa fa-book"></i>
			     		Product name goes here and can be longer than a single line
		     		</a>
		      	</li>
		      	{% for i in (0..4)%}
		     	<li>
		     		<a href="#">
			     		<i class="fa fa-book"></i>
			     		Product name goes here
		     		</a>
		      	</li>
		      	{% endfor %}
			</ul>
		</div>
		<div class="medium-3 medium-offset-1 end columns">
      		<h2>Shower</h2>
	      	<ul class="no-bullet">
		     	<li>
		     		<a href="#">
			     		<i class="fa fa-book"></i>
			     		Product name goes here and can be longer than a single line
		     		</a>
		      	</li>
		      	{% for i in (0..4)%}
		     	<li>
		     		<a href="#">
			     		<i class="fa fa-book"></i>
			     		Product name goes here
		     		</a>
		      	</li>
		      	{% endfor %}
			</ul>
		</div>
	</div>
</div>