---
layout: default
title: Solutions Main
slug: solutions-main
path: ../
---


{% include short-hero.html %}


<div class="row">
	<div class="small-12 medium-8 columns">
		{% include page-content.html %}
	</div>
</div>


<div class="blue-banner solutions-callout">
	<div class="row">
		<div class="small-12 medium-9 columns">
			<img class="water-drop" src="{{ page.path }}img/blue-banner/water-drop.png" />
			{% include solutions-callout.html %}
		</div>
	</div>
</div>

<div class="row">
	<div class="solutions-possible">Possible Solutions</div>
</div>

<div class="three-forth-hero">
	<img src="../img/innovative-droplet-full/water-bg.png" class="water-bg" />
		{% include three-forth-hero.html %}
	</div>
</div>

{% include four-featured-products.html %}

{% include four-featured-products.html %}