---
layout: default
title: Home
slug: home
path: ../
---

{% include tall-hero.html %}

<div class="row">
	<div class="small-12 medium-8 columns">
		{% include page-content.html %}
	</div>
</div>


<div class="feature-hero-section">
	<div class="feature-hero-background-image" style="background-image:url(../img/feature-hero/feature-hero-image.png)">
		{% include feature-hero.html %}
	</div>
</div>

{% include four-featured-products.html %}

<div class="innovative-droplet-full">
	<div class="row">
		{% include innovative-droplet-full.html %}
	</div>
	<div class="innovative-droplet-full-image" style="background-image:url(../img/innovative-droplet-full/droplet-full.png)"></div>
</div>


<div class="blue-dot-callout">
	{% include blue-dot-left-callout.html %}
	{% include blue-dot-right-callout.html %}
</div>


<div class="blue-banner">
	<div class="row">
		<img class="water-drop" src="{{ page.path }}img/blue-banner/water-drop.png" />
	</div>
	{% include blue-banner-callout.html %}
</div>

