---
layout: default
title: Home
slug: home
path: ../
---


<div class="home-background-image" style="background-image:url(../img/home/screenshot.png)"></div>

<div class="home-hero-section">
	<div class="hero-background-image" style="background-image:url(../img/home/hero-image.png)"></div>
	{% include tall-hero.html %}
</div>


<div class="row">
	<div class="small-12 medium-8 columns">
		{% include page-content.html %}
	</div>
</div>


<div class="feature-hero-section">
	<div class="feature-hero-background-image" style="background-image:url(../img/feature-hero/feature-hero-image.png)"></div>
	{% include feature-hero.html %}
</div>


<div class="four-featured-products">
	<div class="row">
		{% include four-featured-products.html %}
	</div>
</div>