---
layout: default
title: Home
slug: home
path: ../
---


<div class="home-background-image" style="background-image:url(../img/home/screenshot.png)"></div>

<div class="home-hero-section">
	<div class="hero-background-image" style="background-image:url(../img/home/hero-image.png)"></div>
	{% include tall-hero.html %}
</div>


<div class="row">
	<div class="small-12 medium-8 columns">
		{% include page-content.html %}
	</div>
</div>


<div class="feature-hero-section">
	<div class="feature-hero-background-image" style="background-image:url(../img/feature-hero/feature-hero-image.png)"></div>
	{% include feature-hero.html %}
</div>


<div class="">
	<div class="row">
		{% include four-featured-products.html %}
	</div>
</div>

<div class="innovative-droplet-full">
	<div class="row">
		{% include innovative-droplet-full.html %}
	</div>
	<div class="innovative-droplet-full-image" style="background-image:url(../img/innovative-droplet-full/droplet-full.png)"></div>
</div>


<div class="blue-dot-callout">
	{% include blue-dot-left-callout.html %}
	{% include blue-dot-right-callout.html %}
</div>