---
layout: default
title: Product Support
slug: product-support
path: ../
---

<style>
	.background-image{
		position:absolute;
		z-index:5;
		top:0px;
		width:1293px;
		height:3500px;
		margin:0 auto;
		left:0;
		right:0;
		background-size:contain;
		background-repeat:no-repeat;
		opacity:0.2;
		display:none;
	}
</style>

<div class="background-image" style="background-image:url(../img/home/relations.png)"></div>


{% include short-hero.html %}


<div class="row">
	<div class="small-12 medium-8 columns">
		{% include page-content.html %}
	</div>
</div>

<div class="two_column">
	<div class="row">
		<div class="small-12 medium-6 columns">

			{% include support-form.html %}

		</div>


	    <div class="small-12 medium-5 medium-offset-1 columns">

			{% include customer-relations.html %}

			{% include support-links.html %}

	    </div>
	
	</div>
</div>


