---
layout: default
title: Product Support
slug: product-support
path: ../
---

{% include short-hero.html %}
<div class="product-support-wrapper">
	<div class="row">
		<div class="column">
			{% include page-content.html %}
			<div class="row">
				<div class="columns medium-6">
					<div class="support-form">
						<h2>Get Product Support</h2>
						<form>						
					        <select>
								<option value="default">What product do you need support for?<i class="fa fa-angle-down"></i></option>
								<option value="husker">Mary</option>
								<option value="starbuck">Little</option>
								<option value="hotdog">Hot Dog</option>
								<option value="apollo">Lamb</option>
					        </select>

				    		<input type="text" placeholder="Your Name" />

				    		<input type="text" placeholder="Email Address" />

				    		<input type="text" placeholder="Phone [Optional]" />

					        <textarea placeholder="Comment/Question/Concern"></textarea>
					      	
					      	<div class="policy-container">
					      		<input id="checkbox1" type="checkbox"><span>Yes, I would like to receive email communications from Culligan.<br/><a href="#">Privacy Policy</a></span>
					      	</div>
					      	<a href="#" class="button primary">Submit</a>
						</form>
					</div>
				</div>
				<div class="columns medium-5">
					{% include customer-relations.html %}
					{% include support-links.html %}
				</div>
			</div>			
		</div>
	</div>
</div>


